#login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgb(238, 238, 238);
    background: 1px solid rgb(254, 254, 254);
    padding: 30px;
    box-shadow: rgb(238, 238, 238) 0px 0px 3px 0px;
}

#login-header {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 25px;
    color: rgb(88, 95, 105);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 15px;
}

#login-content {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    height: 35px;
}

#id-container {
    padding-top: 30px;
}

#pw-container {
    padding-top: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
    width: 35px;
    padding: 5px;
}

.info-input {
    font-family: 'Noto Sans KR', sans-serif;
    height: 35px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    font-size: 14px;
    padding: 6px 12px;
    flex-grow: 1;
    line-height: 35px;
    box-sizing: border-box;
    box-shadow: none;
    color: #555555;
}

.info-input:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#login-checkbox-container {
    margin-top: 30px;
    font-size: 13px;
    color: rgb(119, 119, 119);
    display: flex;
}

#login-checkbox {
    margin: 0 5px 0 0;
}

#login-button-container {
    display: flex;
    justify-content: flex-end;
}

#login-button {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 6px 13px;
    font-size: 14px;
    color: white;
    background: rgb(0, 118, 192);
    border: none;
    margin-top: 30px;
    display: flex;
}