.button {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 30px;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    border-bottom: 4px solid blue;
}

.delete-project:hover {
    border-bottom: 4px solid red !important;
}