@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif !important;
    color: black;
}

body {
    margin: 0 !important;
    padding: 0 !important;

}

#path-controller {
    width: 100vw;
    height: 5vh;
    background-color: #ffffff;

    position: absolute;
    top: calc(10px - 5vh);
}

.icon-container-2 {
    position: relative;
    left: calc(25vw - 60px);
    top: calc(5vh - 10px);
}

#path-input {
    box-sizing: border-box;
    width: 50vw;
    height: 5vh;
    background-color: #ffffff;

    border: none;
    border-bottom: 1px solid black;

    color: black;

    position: relative;
    left: 25vw;
}

#path-input:focus {
    border-bottom: 3px solid rgb(255, 196, 0);
}

#new-file {
    box-sizing: border-box;
    width: 5vh;
    height: 5vh;

    position: relative;
    left: 25vw;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 25px;

    background: #ffffff;
    border: none;
}

#new-file:hover {
    background:rgb(255, 196, 0);
}

#delete-file {
    box-sizing: border-box;
    width: 5vh;
    height: 5vh;

    position: relative;
    left: 25vw;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 25px;
    background: #ffffff;
    border: none;
}
#delete-file:hover {
    background:rgb(255, 196, 0);
}
#editor-container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 5vh;
}

#project-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid rgb(21, 21, 21);
}

#explorer {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#editor-wrapper {
    flex-grow: 1;
}

#directory-container {
    flex-grow: 1;
    padding: 0 10px;
    overflow: scroll;
}

#save-button {
    position: fixed;
    width: 100px;
    height: 50px;
    bottom: 50px;
    right: 50px;

    border: none;
    border-bottom: 1px solid black;
    background: #ffffff;
    font-size: 18px;
    transition: 0.3s;
}

#save-button:hover {
    background-color: rgb(255, 196, 0);
    border-bottom: none;
    transition: 0.3s;
    cursor: pointer;
}