#editor-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#project-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid black;
}

#explorer {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#editor-wrapper {
    flex-grow: 1;
}

#directory-container {
    flex-grow: 1;
    padding: 0 10px;
    overflow: scroll;
}

#save-button {
    position: fixed;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}